dist/
dist-newstyle/
.ghc.environment.*
cabal.project.local
cabal.project.local~
*.hi
*.o
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
.stack-work/
stack.yaml.lock

# Configurações locais
.vscode/
.cabal-bin/
.envrc
hie.yaml
